SubtitleRepeater/build
SubtitleRepeater/dist
SubtitleRepeater/Looping Countdown.spec
SubtitleRepeater/subtitle_repeater_gui.spec
SubtitleRepeater/looping_countdown.spec
SubtitleRepeater/srt_phonetic_injector.spec
